<h1>Editer le contexte</h1>

<%= render 'form' %>


<% if can? :read, @context %>
  <%= link_to 'Voir le contexte', admin_context_path(@context) %> |
<% end %>
<%= link_to "Retour à l'administration", admin_classrooms_path %>