<h1>Editer la classe</h1>

<%= render 'form' %>

<% if can? :read, @classe %>
  <%= link_to "Voir la classe" , admin_classroom_path(@classe) %>|
<% end %>
<%= link_to "Retour à l'administration", admin_classrooms_path %>